* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: flex-start;
    width: 100vw;
}

.anciens-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 40%;
    padding: 20px;
}

.anciens-card {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    cursor: pointer;
    height: 260px;
    width: 200px;
}

.anciens-card.active {
    border: 1px solid red;
}


.complexity-container {
    display: none;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}

.complexity {
    border: 2px solid purple;
    box-sizing: border-box;
    color: purple;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

.complexity.active {
    background: red;
}

.deck-container {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 30%;
}

.shuffle-button {
    display: none;
    background-color: red;
    border: 2px solid purple;
    color: purple;
    cursor: pointer;
    padding: 5px;
}

.deck-container {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 30%;
}

.current-state {
    display: none;
    flex-direction: column;
    gap: 10px;
    min-height: 30%;
}

.stage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.stage-text {
    color: purple;
}

.dots-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dot {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.deck {
    height: 190px;
    width: 130px;
    background-image: url("../assets/mythicCardBackground.png");
    background-size: cover;
    display: none;
}

.last-card {
    background-size: cover;
    height: 190px;
    width: 130px;
}

.dot.green {
    background-color: green;
}

.dot.brown {
    background-color: brown;
}

.dot.blue {
    background-color: blue;
}